Repository huggingface/huggingface_hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-contrib-list, generate-async-inference-client

check-contrib-list:
  name: check-contrib-list
  entry: python utils/check_contrib_list.py --update
  language: system
  pass_filenames: false

generate-async-inference-client:
  name: generate-async-inference-client
  entry: python utils/generate_async_inference_client.py --update
  language: system
  pass_filenames: false

fix mypy
  src/huggingface_hub/file_download.py
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

Deprecate is_write_action and write_permission=True when login (#2632)
  src/huggingface_hub/_login.py
  src/huggingface_hub/file_download.py
  src/huggingface_hub/hf_api.py
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  src/huggingface_hub/utils/_headers.py
  tests/test_auth.py
  tests/test_utils_headers.py
Due: generate-async-inference-client

Fix check task params script
  .github/workflows/python-quality.yml
  Makefile
  src/huggingface_hub/__init__.py
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  src/huggingface_hub/inference/_generated/types/__init__.py
  utils/check_outdated_task_params.py
  utils/check_task_parameters.py
  utils/generate_inference_types.py
Due: check-contrib-list, generate-async-inference-client

Fix docstrings
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  utils/check_task_parameters.py
Due: generate-async-inference-client

Fix docstrings again
  src/huggingface_hub/inference/_client.py
  utils/check_task_parameters.py
Due: generate-async-inference-client

Fix imports
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  utils/check_task_parameters.py
Due: generate-async-inference-client

Improve logging
  utils/check_task_parameters.py
Due: none

Rename cst visitor class for clarity
  utils/check_task_parameters.py
Due: none

Run CI on python 3.13
  .github/workflows/build_repocard_examples.yaml
  .github/workflows/python-tests.yml
  docs/source/cn/installation.md
  docs/source/de/installation.md
  docs/source/en/installation.md
  docs/source/fr/installation.md
  docs/source/hi/installation.md
  docs/source/ko/installation.md
  setup.py
Due: none

Fix gradio version
  setup.py
Due: none

expose repo security status in ModelInfo
  src/huggingface_hub/hf_api.py
  tests/test_hf_api.py
Due: none

Support python 3.13 (#2636)
  .github/workflows/build_repocard_examples.yaml
  .github/workflows/python-tests.yml
  docs/source/cn/installation.md
  docs/source/de/installation.md
  docs/source/en/installation.md
  docs/source/fr/installation.md
  docs/source/hi/installation.md
  docs/source/ko/installation.md
  setup.py
Due: none

remove warning in test
  tests/test_hf_api.py
Due: none

Expose repo security status field in `ModelInfo` (#2639)
  src/huggingface_hub/hf_api.py
  tests/test_hf_api.py
Due: none

Update how file's security metadata is retrieved following changes in the API response (#2621)
  src/huggingface_hub/hf_api.py
Due: none

Release: v0.26.2
  src/huggingface_hub/__init__.py
Due: none

Update consistent error message (we can't do much about it)
  src/huggingface_hub/file_download.py
Due: none

Update consistent error message (we can't do much about it) (#2641)
  src/huggingface_hub/file_download.py
Due: none

Fix fs exists + add and fix documentation
  docs/source/en/guides/hf_file_system.md
  src/huggingface_hub/hf_api.py
  src/huggingface_hub/hf_file_system.py
Due: none

Update documentation
  src/huggingface_hub/hf_file_system.py
Due: none

Fix ModelCardData's datasets typing
  src/huggingface_hub/repocard_data.py
Due: none

Fix ModelCardData's datasets typing (#2644)
  src/huggingface_hub/repocard_data.py
Due: none

add pydantic support in response_format
  src/huggingface_hub/_webhooks_payload.py
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/types/chat_completion.py
Due: generate-async-inference-client

style
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

minor
  src/huggingface_hub/inference/_client.py
Due: generate-async-inference-client

update async client
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

add refusal
  src/huggingface_hub/_webhooks_payload.py
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  src/huggingface_hub/inference/_generated/types/chat_completion.py
Due: generate-async-inference-client

mypy
  src/huggingface_hub/_webhooks_payload.py
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

comment
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

Add is_main_process flag
  src/huggingface_hub/serialization/_torch.py
  tests/test_serialization.py
Due: none

Update tests comments
  tests/test_serialization.py
Due: none

Fix failing test
  tests/test_serialization.py
Due: none

Add test and fix documentation
  src/huggingface_hub/hf_api.py
  src/huggingface_hub/hf_file_system.py
  tests/test_hf_file_system.py
Due: none

Brian/xet backed lfs (#7)
  src/huggingface_hub/_commit_api.py
  src/huggingface_hub/constants.py
  src/huggingface_hub/file_download.py
  src/huggingface_hub/hf_api.py
  src/huggingface_hub/utils/_xet.py
Due: none

Fix max tokens default value in text generation and chat completion
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

Fix `HfFileSystem.exists()` for deleted repos and update documentation (#2643)
  docs/source/en/guides/hf_file_system.md
  src/huggingface_hub/hf_api.py
  src/huggingface_hub/hf_file_system.py
  tests/test_hf_file_system.py
Due: none

Fix max tokens default value in text generation and chat completion (#2653)
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

Fix sorting properties
  src/huggingface_hub/hf_api.py
  tests/test_hf_api.py
Due: none

Fix sorting properties (#2655)
  src/huggingface_hub/hf_api.py
  tests/test_hf_api.py
Due: none

Path conditions:
  check-contrib-list: any of: Makefile|.github/workflows/contrib-tests.yml|contrib
  generate-async-inference-client: any of: src/huggingface_hub/inference/
