Repository huggingface/huggingface_hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-contrib-list, generate-async-inference-client

.pre-commit-config.yaml:

---
default_language_version:
    python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        exclude: .github/conda/meta.yaml|tests/cassettes/
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-case-conflict
      - id: check-merge-conflict
  - repo: https://github.com/charliermarsh/ruff-pre-commit # https://github.com/charliermarsh/ruff#usage
    rev: v0.1.13
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: check-contrib-list
        name: check-contrib-list
        entry: python utils/check_contrib_list.py --update
        language: system
        files: Makefile|.github/workflows/contrib-tests.yml|contrib
        pass_filenames: false
      - id: check-static-imports
        name: check-static-imports
        entry: python utils/check_static_imports.py --update
        language: system
        pass_filenames: false
        always_run: true
      - id: generate-async-inference-client
        name: generate-async-inference-client
        entry: python utils/generate_async_inference_client.py --update
        language: system
        files: src/huggingface_hub/inference/
        pass_filenames: false

docs: Add Docker images section for UV scripts in Jobs guide
  docs/source/en/guides/jobs.md
Due: none

Update docs/source/en/guides/jobs.md
  docs/source/en/guides/jobs.md
Due: none

docs: Add Docker images section for UV scripts in Jobs guide (#3327)
  docs/source/en/guides/jobs.md
Due: none

[Jobs] Add scheduled jobs api (#3306)
  docs/source/en/guides/cli.md
  docs/source/en/guides/jobs.md
  src/huggingface_hub/__init__.py
  src/huggingface_hub/_jobs_api.py
  src/huggingface_hub/cli/jobs.py
  src/huggingface_hub/hf_api.py
  tests/test_cli.py
Due: none

download workflow should work
  src/huggingface_hub/file_download.py
  src/huggingface_hub/hf_api.py
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_common.py
  src/huggingface_hub/lfs.py
  src/huggingface_hub/utils/_http.py
  tests/test_file_download.py
  tests/test_hf_api.py
Due: generate-async-inference-client

Fix repocard and error utils tests
  src/huggingface_hub/repocard.py
  tests/test_utils_errors.py
Due: none

docs: add link to TRL jobs training documentation
  docs/source/en/guides/jobs.md
Due: none

docs: add link to TRL jobs training documentation (#3330)
  docs/source/en/guides/jobs.md
Due: none

fix hf-file-system
  src/huggingface_hub/hf_file_system.py
  src/huggingface_hub/utils/__init__.py
  src/huggingface_hub/utils/_http.py
  tests/test_hf_file_system.py
Due: none

gix http utils tests
  src/huggingface_hub/utils/_http.py
  tests/test_utils_http.py
Due: none

more fixes
  tests/test_offline_utils.py
  tests/testing_utils.py
Due: none

fix some inference tests
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_common.py
  src/huggingface_hub/inference/_generated/_async_client.py
  src/huggingface_hub/inference/_generated/types/chat_completion.py
  tests/test_inference_client.py
Due: generate-async-inference-client

fix test_file_download tests
  tests/test_file_download.py
Due: none

async inference client
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  src/huggingface_hub/utils/_http.py
  utils/generate_async_inference_client.py
Due: generate-async-inference-client

async code should be good
  src/huggingface_hub/inference/_common.py
  src/huggingface_hub/inference/_generated/_async_client.py
  tests/test_inference_async_client.py
  utils/generate_async_inference_client.py
Due: generate-async-inference-client

fix: improve error message for shell compatibility
  src/huggingface_hub/cli/cache.py
  src/huggingface_hub/commands/delete_cache.py
Due: none

Update error message to improve shell compatibility (#3333)
  src/huggingface_hub/cli/cache.py
  src/huggingface_hub/commands/delete_cache.py
Due: none

Define RemoteEntryFileNotFound explicitly (+some fixes)
  docs/source/en/package_reference/utilities.md
  docs/source/ko/package_reference/utilities.md
  src/huggingface_hub/errors.py
  src/huggingface_hub/file_download.py
  src/huggingface_hub/hf_api.py
  src/huggingface_hub/hf_file_system.py
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_common.py
  src/huggingface_hub/inference_api.py
  src/huggingface_hub/utils/_http.py
Due: generate-async-inference-client

fix async code quality
  src/huggingface_hub/inference/_generated/_async_client.py
  utils/generate_async_inference_client.py
Due: generate-async-inference-client

torch ok
  tests/test_hub_mixin_pytorch.py
Due: none

fix hf_file_system
  tests/test_hf_file_system.py
Due: none

fix errors tests
  tests/test_utils_errors.py
Due: none

mock
  tests/test_hub_mixin_pytorch.py
Due: none

fix test_cli mock
  tests/test_cli.py
Due: none

fix commit scheduler
  src/huggingface_hub/_commit_scheduler.py
Due: none

add fileno test
  tests/test_commit_scheduler.py
Due: none

no more requests anywhere
  .github/conda/meta.yaml
  docs/source/en/guides/cli.md
  docs/source/en/package_reference/environment_variables.md
  setup.py
  src/huggingface_hub/_commit_api.py
  src/huggingface_hub/_snapshot_download.py
  src/huggingface_hub/cli/auth.py
  src/huggingface_hub/cli/jobs.py
  src/huggingface_hub/cli/repo.py
  src/huggingface_hub/commands/tag.py
  src/huggingface_hub/commands/user.py
  src/huggingface_hub/errors.py
  src/huggingface_hub/inference_api.py
  src/huggingface_hub/lfs.py
  src/huggingface_hub/utils/_xet.py
  src/huggingface_hub/utils/tqdm.py
  tests/test_file_download.py
  tests/test_inference_text_generation.py
  tests/test_oauth.py
  tests/test_repository.py
  utils/generate_async_inference_client.py
Due: none

fix test_file_download
  tests/test_file_download.py
Due: none

tmp requests
  setup.py
Due: none

Add reasoning field in chat completion output
  src/huggingface_hub/inference/_generated/types/chat_completion.py
Due: generate-async-inference-client

Update src/huggingface_hub/utils/_http.py
  src/huggingface_hub/utils/_http.py
Due: none

Update src/huggingface_hub/hf_file_system.py
  src/huggingface_hub/hf_file_system.py
Due: none

Add reasoning field in chat completion output (#3338)
  src/huggingface_hub/inference/_generated/types/chat_completion.py
Due: generate-async-inference-client

not async
  src/huggingface_hub/utils/_http.py
Due: none

fix tests
  tests/test_utils_cache.py
Due: none

Bump minimal version to Python3.9
  .github/workflows/contrib-tests.yml
  .github/workflows/python-tests.yml
  .github/workflows/release-conda.yml
  docs/source/cn/installation.md
  docs/source/de/installation.md
  docs/source/en/installation.md
  docs/source/fr/installation.md
  docs/source/hi/installation.md
  docs/source/ko/installation.md
  docs/source/tm/installation.md
  setup.py
  src/huggingface_hub/hub_mixin.py
  src/huggingface_hub/inference/_mcp/mcp_client.py
  src/huggingface_hub/repocard.py
Due: check-contrib-list, generate-async-inference-client

code quality
  src/huggingface_hub/inference/_generated/types/zero_shot_object_detection.py
Due: generate-async-inference-client
