Repository huggingface/huggingface_hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-contrib-list, generate-async-inference-client

check-contrib-list:
  name: check-contrib-list
  entry: python utils/check_contrib_list.py --update
  language: system
  pass_filenames: false

generate-async-inference-client:
  name: generate-async-inference-client
  entry: python utils/generate_async_inference_client.py --update
  language: system
  pass_filenames: false

Add suggestion from code review
  src/huggingface_hub/hub_mixin.py
Due: none

Fix type annotation
  src/huggingface_hub/hub_mixin.py
Due: none

[HfApi] update list of repository properties following server side updates (#2728)
  src/huggingface_hub/hf_api.py
Due: none

[BUG] Fix 404 NOT FOUND issue caused by endpoint tail slash (#2721)
  src/huggingface_hub/constants.py
  src/huggingface_hub/utils/_http.py
Due: none

[InferenceClient] flag `chat_completion()`'s `logit_bias` as UNUSED (#2724)
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

Add test
  src/huggingface_hub/hub_mixin.py
  tests/test_hub_mixin.py
Due: none

Actually fix type annotation (3.8)
  src/huggingface_hub/hub_mixin.py
Due: none

Fix `typing.get_type_hints` call on a `ModelHubMixin` (#2729)
  src/huggingface_hub/hub_mixin.py
  tests/test_hub_mixin.py
Due: none

Release: v0.27.1
  src/huggingface_hub/__init__.py
Due: none

Remove unused parameters from method's docstring
  src/huggingface_hub/hf_api.py
Due: none

Remove unused parameters from method's docstring (#2738)
  src/huggingface_hub/hf_api.py
Due: none

remove like endpoint
  src/huggingface_hub/__init__.py
  src/huggingface_hub/hf_api.py
  tests/test_hf_api.py
Due: none

fixes post-review
  src/huggingface_hub/_commit_api.py
  src/huggingface_hub/hf_api.py
Due: none

run new ruff style formatter
  src/huggingface_hub/_commit_api.py
  src/huggingface_hub/commands/scan_cache.py
  src/huggingface_hub/file_download.py
  src/huggingface_hub/hf_api.py
  src/huggingface_hub/serialization/_base.py
  src/huggingface_hub/serialization/_torch.py
  src/huggingface_hub/utils/logging.py
  tests/test_cache_layout.py
  tests/test_utils_cache.py
  tests/testing_utils.py
Due: none

upgrade the ruff version
  setup.py
Due: none

Migrate to new Ruff "2025 style guide" formatter (#2749)
  setup.py
  src/huggingface_hub/_commit_api.py
  src/huggingface_hub/commands/scan_cache.py
  src/huggingface_hub/file_download.py
  src/huggingface_hub/hf_api.py
  src/huggingface_hub/serialization/_base.py
  src/huggingface_hub/serialization/_torch.py
  src/huggingface_hub/utils/logging.py
  tests/test_cache_layout.py
  tests/test_utils_cache.py
  tests/testing_utils.py
Due: none

[HfApi] prevent empty commits when copying files (#2730)
  src/huggingface_hub/_commit_api.py
  src/huggingface_hub/hf_api.py
  tests/test_hf_api.py
Due: none

Update inference types (automated commit)
  src/huggingface_hub/inference/_generated/types/automatic_speech_recognition.py
  src/huggingface_hub/inference/_generated/types/image_to_text.py
  src/huggingface_hub/inference/_generated/types/text_to_audio.py
  src/huggingface_hub/inference/_generated/types/text_to_speech.py
  utils/check_contrib_list.py
Due: check-contrib-list, generate-async-inference-client

Update src/huggingface_hub/hf_api.py
  src/huggingface_hub/hf_api.py
Due: none

[HfApi] remove `like` endpoint (#2739)
  src/huggingface_hub/__init__.py
  src/huggingface_hub/hf_api.py
  tests/test_hf_api.py
Due: none

Add timeout to WeakFileLock
  src/huggingface_hub/_local_folder.py
  src/huggingface_hub/utils/_fixes.py
  tests/test_local_folder.py
  tests/test_utils_fixes.py
  utils/check_contrib_list.py
Due: check-contrib-list

mypy
  src/huggingface_hub/utils/_fixes.py
  tests/test_utils_fixes.py
Due: none

Add timeout to WeakFileLock (#2751)
  src/huggingface_hub/_local_folder.py
  src/huggingface_hub/utils/_fixes.py
  tests/test_local_folder.py
  tests/test_utils_fixes.py
  utils/check_contrib_list.py
Due: check-contrib-list

Add py.typed and generate static __all__
  .github/workflows/python-quality.yml
  MANIFEST.in
  Makefile
  setup.py
  src/huggingface_hub/__init__.py
  src/huggingface_hub/py.typed
  tests/testing_utils.py
  utils/check_all_variable.py
Due: check-contrib-list

quality
  tests/testing_utils.py
Due: none

Add first version of third-party providers support
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_common.py
  src/huggingface_hub/inference/_generated/_async_client.py
  src/huggingface_hub/inference/_providers/__init__.py
  src/huggingface_hub/inference/_providers/base.py
  src/huggingface_hub/inference/_providers/fal_ai.py
  src/huggingface_hub/inference/_providers/replicate.py
  src/huggingface_hub/inference/_providers/sambanova.py
  src/huggingface_hub/inference/_providers/together.py
  utils/generate_async_inference_client.py
Due: generate-async-inference-client

compare ordered lists instead of sets
  Makefile
  utils/check_all_variable.py
Due: check-contrib-list

Add optional rejection_reason when rejecting a user access token
  src/huggingface_hub/hf_api.py
  tests/test_hf_api.py
Due: none

fix all list parsing
  utils/check_all_variable.py
Due: none

add task level in model id mappings
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_providers/base.py
  src/huggingface_hub/inference/_providers/fal_ai.py
  src/huggingface_hub/inference/_providers/replicate.py
  src/huggingface_hub/inference/_providers/sambanova.py
  src/huggingface_hub/inference/_providers/together.py
Due: generate-async-inference-client

remove org tokens tests
  tests/test_hf_api.py
Due: none

remove org tokens tests (#2759)
  tests/test_hf_api.py
Due: none

fix test
  tests/test_hf_api.py
Due: none

Add optional rejection_reason when rejecting a user access token (#2758)
  src/huggingface_hub/hf_api.py
  tests/test_hf_api.py
Due: none

Add `py.typed` to be compliant with PEP-561 again (#2752)
  .github/workflows/python-quality.yml
  MANIFEST.in
  Makefile
  setup.py
  src/huggingface_hub/__init__.py
  src/huggingface_hub/py.typed
  utils/check_all_variable.py
Due: check-contrib-list

raise error when task is not supported by a provider + some improvements
  src/huggingface_hub/inference/_generated/_async_client.py
  src/huggingface_hub/inference/_providers/base.py
  src/huggingface_hub/inference/_providers/fal_ai.py
  src/huggingface_hub/inference/_providers/replicate.py
  src/huggingface_hub/inference/_providers/sambanova.py
  src/huggingface_hub/inference/_providers/together.py
Due: generate-async-inference-client

small (big) refactoring
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_common.py
  src/huggingface_hub/inference/_generated/_async_client.py
  src/huggingface_hub/inference/_providers/__init__.py
  src/huggingface_hub/inference/_providers/base.py
  src/huggingface_hub/inference/_providers/fal_ai.py
  src/huggingface_hub/inference/_providers/fal_ai/__init__.py
  src/huggingface_hub/inference/_providers/fal_ai/text_to_image.py
  src/huggingface_hub/inference/_providers/hf_inference/__init__.py
  src/huggingface_hub/inference/_providers/hf_inference/_common.py
  src/huggingface_hub/inference/_providers/hf_inference/conversational.py
  src/huggingface_hub/inference/_providers/hf_inference/text_to_image.py
  src/huggingface_hub/inference/_providers/replicate.py
  src/huggingface_hub/inference/_providers/replicate/__init__.py
  src/huggingface_hub/inference/_providers/replicate/text_to_image.py
  src/huggingface_hub/inference/_providers/sambanova.py
  src/huggingface_hub/inference/_providers/sambanova/__init__.py
  src/huggingface_hub/inference/_providers/sambanova/conversational.py
  src/huggingface_hub/inference/_providers/together.py
  src/huggingface_hub/inference/_providers/together/__init__.py
  src/huggingface_hub/inference/_providers/together/conversational.py
  src/huggingface_hub/inference/_providers/together/text_generation.py
  src/huggingface_hub/inference/_providers/together/text_to_image.py
  utils/generate_async_inference_client.py
Due: generate-async-inference-client

Update inference types (automated commit)
  src/huggingface_hub/inference/_generated/types/automatic_speech_recognition.py
  src/huggingface_hub/inference/_generated/types/image_to_text.py
  src/huggingface_hub/inference/_generated/types/text_to_audio.py
  src/huggingface_hub/inference/_generated/types/text_to_speech.py
Due: generate-async-inference-client

fix typo
  src/huggingface_hub/commands/upload_large_folder.py
Due: none

Path conditions:
  check-contrib-list: any of: Makefile|.github/workflows/contrib-tests.yml|contrib
  generate-async-inference-client: any of: src/huggingface_hub/inference/
