Repository huggingface/huggingface_hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-contrib-list, generate-async-inference-client

.pre-commit-config.yaml:

---
default_language_version:
    python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        exclude: .github/conda/meta.yaml|tests/cassettes/
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-case-conflict
      - id: check-merge-conflict
  - repo: https://github.com/charliermarsh/ruff-pre-commit # https://github.com/charliermarsh/ruff#usage
    rev: v0.1.13
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: check-contrib-list
        name: check-contrib-list
        entry: python utils/check_contrib_list.py --update
        language: system
        files: Makefile|.github/workflows/contrib-tests.yml|contrib
        pass_filenames: false
      - id: check-static-imports
        name: check-static-imports
        entry: python utils/check_static_imports.py --update
        language: system
        pass_filenames: false
        always_run: true
      - id: generate-async-inference-client
        name: generate-async-inference-client
        entry: python utils/generate_async_inference_client.py --update
        language: system
        files: src/huggingface_hub/inference/
        pass_filenames: false

Add tests
  tests/test_utils_tqdm.py
Due: none

fix: resolve suggestions
  docs/source/ko/_toctree.yml
Due: none

fix: resolve suggestions
  docs/source/ko/guides/manage-spaces.md
Due: none

Update documentation
  docs/source/en/package_reference/utilities.md
Due: none

Apply suggestions from code review
  docs/source/ko/package_reference/utilities.md
Due: none

Default to download model from local files only when in offline mode
  src/huggingface_hub/file_download.py
Due: none

feat: nmt draft
  docs/source/ko/guides/integrations.md
Due: none

🌐 [i18n-KO] Translated `package_reference/inference_types.md` to Korean (#2171)
  docs/source/ko/_toctree.yml
  docs/source/ko/package_reference/inference_types.md
Due: none

🌐 [i18n-KO] Translated `guides/upload.md` to Korean (#2139)
  docs/source/ko/_toctree.yml
  docs/source/ko/guides/upload.md
Due: none

🌐 [i18n-KO] Translated `reference/repository.md` to Korean (#2189)
  docs/source/ko/_toctree.yml
  docs/source/ko/package_reference/repository.md
Due: none

🌐 [i18n-KO] Translated `package_reference/space_runtime.md` to Korean (#2213)
  docs/source/ko/_toctree.yml
  docs/source/ko/package_reference/space_runtime.md
Due: none

fix: resolve suggestions
  docs/source/ko/package_reference/serialization.md
Due: none

TGI-based specs + adapt
  docs/source/en/package_reference/inference_types.md
  src/huggingface_hub/__init__.py
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_common.py
  src/huggingface_hub/inference/_generated/_async_client.py
  src/huggingface_hub/inference/_generated/types/__init__.py
  src/huggingface_hub/inference/_generated/types/chat_completion.py
  src/huggingface_hub/inference/_generated/types/text_generation.py
  tests/test_inference_async_client.py
  tests/test_inference_client.py
  tests/test_inference_text_generation.py
Due: generate-async-inference-client

deprecate conversational + docs
  docs/source/en/package_reference/inference_client.md
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

docs
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

support grammar use case
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_common.py
  src/huggingface_hub/inference/_generated/_async_client.py
  tests/cassettes/TestTextGenerationClientVCR.test_generate_non_tgi_endpoint.yaml
  tests/cassettes/TestTextGenerationClientVCR.test_generate_non_tgi_endpoint_regression_test.yaml
  tests/test_inference_text_generation.py
Due: generate-async-inference-client

grammar example
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  tests/cassettes/TestTextGenerationClientVCR.test_generate_with_grammar.yaml
  tests/test_inference_text_generation.py
Due: generate-async-inference-client

fix
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

Drop generic from InferenceAPI framework list
  src/huggingface_hub/constants.py
Due: none

Drop generic from InferenceAPI framework list (#2240)
  src/huggingface_hub/constants.py
Due: none

add script to check inputs
  Makefile
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  utils/check_inference_input_params.py
Due: check-contrib-list, generate-async-inference-client

add test for chat completion with tool
  src/huggingface_hub/inference/_generated/types/chat_completion.py
  tests/cassettes/InferenceClientVCRTest.test_chat_completion_with_tool.yaml
  tests/test_inference_client.py
Due: generate-async-inference-client

add warning tip that list_deployed_models only searches over cache
  src/huggingface_hub/inference/_client.py
Due: generate-async-inference-client

Update cli.md
  docs/source/en/guides/cli.md
Due: none

Update cli.md (#2242)
  docs/source/en/guides/cli.md
Due: none

make style
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

fix ko docs
  docs/source/ko/_toctree.yml
Due: none

Remove test sort by acsending likes
  tests/test_hf_api.py
Due: none

Remove test sort by acsending likes (#2243)
  tests/test_hf_api.py
Due: none

add warning tip that list_deployed_models only searches over cache (#2241)
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

🌐 [i18n-KO] Translated `guides/manage-spaces.md` to Korean (#2220)
  docs/source/ko/_toctree.yml
  docs/source/ko/guides/manage-spaces.md
Due: none

dummy
  src/huggingface_hub/inference/_common.py
Due: generate-async-inference-client

fix test
  src/huggingface_hub/inference/_generated/types/chat_completion.py
  tests/cassettes/InferenceClientVCRTest.test_chat_completion_with_tool.yaml
  tests/test_inference_client.py
Due: generate-async-inference-client

document all params
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  utils/check_inference_input_params.py
Due: generate-async-inference-client

todo
  utils/check_inference_input_params.py
Due: none

add type check to ci
  .github/workflows/python-quality.yml
Due: none

fix tests
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_common.py
  src/huggingface_hub/inference/_generated/_async_client.py
  tests/test_inference_async_client.py
  utils/generate_async_inference_client.py
Due: generate-async-inference-client

fix KO docs
  docs/source/ko/package_reference/inference_types.md
  utils/generate_inference_types.py
Due: none

more secure
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_common.py
Due: generate-async-inference-client
