Repository huggingface/huggingface_hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-contrib-list, generate-async-inference-client

.pre-commit-config.yaml:

---
default_language_version:
    python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        exclude: .github/conda/meta.yaml|tests/cassettes/
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-case-conflict
      - id: check-merge-conflict
  - repo: https://github.com/charliermarsh/ruff-pre-commit # https://github.com/charliermarsh/ruff#usage
    rev: v0.1.13
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: check-contrib-list
        name: check-contrib-list
        entry: python utils/check_contrib_list.py --update
        language: system
        files: Makefile|.github/workflows/contrib-tests.yml|contrib
        pass_filenames: false
      - id: check-static-imports
        name: check-static-imports
        entry: python utils/check_static_imports.py --update
        language: system
        pass_filenames: false
        always_run: true
      - id: generate-async-inference-client
        name: generate-async-inference-client
        entry: python utils/generate_async_inference_client.py --update
        language: system
        files: src/huggingface_hub/inference/
        pass_filenames: false

Making wrapper tensor subclass to work in huggingface_hub serialization (non-safetensor)
  src/huggingface_hub/serialization/_torch.py
  tests/test_serialization.py
Due: none

add tests
  tests/test_serialization.py
Due: none

fix typo in file download warning message about symlinks (#2442)
  src/huggingface_hub/file_download.py
Due: none

update signature to include new changes for tensor subclass
  src/huggingface_hub/serialization/_torch.py
Due: none

Fix typo double assignment
  src/huggingface_hub/file_download.py
Due: none

Fix typo double assignment (#2443)
  src/huggingface_hub/file_download.py
Due: none

Apply suggestions from code review
  docs/source/en/guides/upload.md
Due: none

add PR tips
  docs/source/en/guides/upload.md
  src/huggingface_hub/hf_api.py
Due: none

include feedback
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

Document the difference between model and base_url (#2431)
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

Update src/huggingface_hub/commands/scan_cache.py
  src/huggingface_hub/commands/scan_cache.py
Due: none

add docs
  docs/source/en/package_reference/cache.md
  src/huggingface_hub/commands/scan_cache.py
Due: none

do not modify InferenceClient
  src/huggingface_hub/inference/_client.py
Due: generate-async-inference-client

move FileMetadataError
  src/huggingface_hub/errors.py
  src/huggingface_hub/file_download.py
  src/huggingface_hub/utils/__init__.py
  src/huggingface_hub/utils/_errors.py
Due: none

Add trust_env parameter only in AsyncInferenceClient + respect proxy
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  utils/generate_async_inference_client.py
Due: generate-async-inference-client

document proxies and trust_env parameters
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  utils/generate_async_inference_client.py
Due: generate-async-inference-client

remove newlines
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

Bug - [InferenceClient] - use proxy set in var env (#2421)
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  utils/generate_async_inference_client.py
Due: generate-async-inference-client

Apply suggestions from code review
  src/huggingface_hub/file_download.py
Due: none

Add 'gated' search parameter
  src/huggingface_hub/hf_api.py
  tests/test_hf_api.py
Due: none

Add 'gated' search parameter (#2448)
  src/huggingface_hub/hf_api.py
  tests/test_hf_api.py
Due: none

Raise with more info on 416 invalid range
  src/huggingface_hub/utils/_errors.py
Due: none

[webhooks server] rely on SPACE_ID to check if app is local or in a Sapce
  src/huggingface_hub/_webhooks_server.py
Due: none

[webhooks server] rely on SPACE_ID to check if app is local or in a Sapce (#2450)
  src/huggingface_hub/_webhooks_server.py
Due: none

Raise with more info on 416 invalid range (#2449)
  src/huggingface_hub/utils/_errors.py
Due: none

Update `constants` import to use module-level access (#1172)
  src/huggingface_hub/hf_api.py
  tests/test_hf_api.py
Due: none

Apply suggestions from code review
  src/huggingface_hub/commands/scan_cache.py
Due: none

Update cache.md
  docs/source/ko/package_reference/cache.md
Due: none

huggingface-cli upload - Validate README.md before file hashing
  src/huggingface_hub/hf_api.py
Due: none

huggingface-cli upload - Validate README.md before file hashing (#2452)
  src/huggingface_hub/hf_api.py
Due: none

defines error
  src/huggingface_hub/file_download.py
Due: none

Defien Errors
  contrib/spacy/test_spacy.py
  src/huggingface_hub/_commit_api.py
  src/huggingface_hub/_snapshot_download.py
  src/huggingface_hub/_tensorboard_logger.py
  src/huggingface_hub/commands/tag.py
  src/huggingface_hub/commands/upload.py
  src/huggingface_hub/errors.py
  src/huggingface_hub/file_download.py
  src/huggingface_hub/hf_api.py
  src/huggingface_hub/hf_file_system.py
  src/huggingface_hub/hub_mixin.py
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_templating.py
  src/huggingface_hub/repocard.py
  src/huggingface_hub/utils/__init__.py
  src/huggingface_hub/utils/_errors.py
  tests/test_cache_layout.py
  tests/test_cli.py
  tests/test_file_download.py
  tests/test_hf_api.py
  tests/test_hf_file_system.py
  tests/test_hub_mixin_pytorch.py
  tests/test_inference_client.py
  tests/test_repocard.py
  tests/test_snapshot_download.py
  tests/test_utils_errors.py
Due: check-contrib-list, generate-async-inference-client

Update constants import to use module-level access #1172 #2453
  Makefile
  src/huggingface_hub/__init__.py
  src/huggingface_hub/hf_api.py
  src/huggingface_hub/hub_mixin.py
  src/huggingface_hub/utils/_fixes.py
  tests/test_hf_api.py
Due: check-contrib-list

fix trailing newlines
  src/huggingface_hub/inference/_common.py
  tests/test_inference_client.py
Due: generate-async-inference-client

fix cassettes
  tests/cassettes/test_async_chat_completion_with_stream.yaml
  tests/test_inference_async_client.py
Due: none

quality
  tests/test_inference_async_client.py
Due: none

Fix broken AsyncInferenceClient on [DONE] signal (#2458)
  src/huggingface_hub/inference/_common.py
  tests/cassettes/test_async_chat_completion_with_stream.yaml
  tests/test_inference_async_client.py
  tests/test_inference_client.py
Due: generate-async-inference-client

Release: v0.24.6
  src/huggingface_hub/__init__.py
Due: none
