Repository huggingface/huggingface_hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-contrib-list, generate-async-inference-client

.pre-commit-config.yaml:

---
default_language_version:
    python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        exclude: .github/conda/meta.yaml|tests/cassettes/
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-case-conflict
      - id: check-merge-conflict
  - repo: https://github.com/charliermarsh/ruff-pre-commit # https://github.com/charliermarsh/ruff#usage
    rev: v0.1.13
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: check-contrib-list
        name: check-contrib-list
        entry: python utils/check_contrib_list.py --update
        language: system
        files: Makefile|.github/workflows/contrib-tests.yml|contrib
        pass_filenames: false
      - id: check-static-imports
        name: check-static-imports
        entry: python utils/check_static_imports.py --update
        language: system
        pass_filenames: false
        always_run: true
      - id: generate-async-inference-client
        name: generate-async-inference-client
        entry: python utils/generate_async_inference_client.py --update
        language: system
        files: src/huggingface_hub/inference/
        pass_filenames: false

Enhance `update_repo_settings` to manage repo visibility
  src/huggingface_hub/hf_api.py
  src/huggingface_hub/utils/__init__.py
Due: none

Update package reference and quick start documentation
  docs/source/en/package_reference/login.md
  docs/source/en/quick-start.md
  src/huggingface_hub/__init__.py
  src/huggingface_hub/_login.py
  src/huggingface_hub/commands/user.py
Due: none

Update cli documentation
  docs/source/en/guides/cli.md
  src/huggingface_hub/utils/_auth.py
Due: none

Expose new auth methods in huggingface_hub module
  src/huggingface_hub/__init__.py
Due: none

Added index.md and installation.md
  docs/source/tm/_toctree.yml
  docs/source/tm/index.md
  docs/source/tm/installation.md
Due: none

Multiple small fixes
  docs/source/en/package_reference/login.md
  src/huggingface_hub/_login.py
  src/huggingface_hub/commands/_cli_utils.py
  src/huggingface_hub/commands/user.py
Due: none

Support VLM in chat completion (+some specs updates)
  docs/source/en/package_reference/inference_types.md
  docs/source/ko/package_reference/inference_types.md
  src/huggingface_hub/__init__.py
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  src/huggingface_hub/inference/_generated/types/__init__.py
  src/huggingface_hub/inference/_generated/types/audio_classification.py
  src/huggingface_hub/inference/_generated/types/chat_completion.py
  src/huggingface_hub/inference/_generated/types/image_classification.py
  src/huggingface_hub/inference/_generated/types/image_segmentation.py
  src/huggingface_hub/inference/_generated/types/image_to_image.py
  src/huggingface_hub/inference/_generated/types/object_detection.py
  src/huggingface_hub/inference/_generated/types/summarization.py
  src/huggingface_hub/inference/_generated/types/text_generation.py
  src/huggingface_hub/inference/_generated/types/text_to_image.py
  src/huggingface_hub/inference/_generated/types/text_to_speech.py
  src/huggingface_hub/inference/_generated/types/translation.py
Due: generate-async-inference-client

document VLM
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

Raise error if encountered in chat completion SSE stream
  src/huggingface_hub/inference/_common.py
  tests/test_inference_client.py
Due: generate-async-inference-client

Raise error if encountered in chat completion SSE stream (#2558)
  src/huggingface_hub/inference/_common.py
  tests/test_inference_client.py
Due: generate-async-inference-client

Enhance `update_repo_settings` to manage repo visibility
  docs/source/en/guides/repository.md
  src/huggingface_hub/hf_api.py
  tests/test_file_download.py
  tests/test_hf_api.py
  tests/test_snapshot_download.py
Due: none

Enhance `update_repo_settings` to manage repo visibility
  tests/test_hf_api.py
Due: none

Release: v0.25.1
  src/huggingface_hub/__init__.py
Due: none

Temporary update for GH Actions in private fork
  .github/workflows/build_documentation.yaml
  .github/workflows/build_pr_documentation.yaml
  .github/workflows/build_repocard_examples.yaml
  .github/workflows/contrib-tests.yml
  .github/workflows/python-quality.yml
  .github/workflows/python-release.yml
  .github/workflows/python-tests.yml
  .github/workflows/release-conda.yml
  .github/workflows/trufflehog.yml
  .github/workflows/upload_pr_documentation.yaml
Due: check-contrib-list

Add additional parameters to Inference Client tasks
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  src/huggingface_hub/inference/_generated/types/automatic_speech_recognition.py
  src/huggingface_hub/inference/_generated/types/image_to_text.py
  src/huggingface_hub/inference/_generated/types/text_to_image.py
  src/huggingface_hub/inference/_generated/types/translation.py
  tests/test_inference_async_client.py
  tests/test_inference_client.py
Due: generate-async-inference-client

XET file support and plumbing the access token (#2)
  src/huggingface_hub/_commit_api.py
  src/huggingface_hub/constants.py
  src/huggingface_hub/file_download.py
  src/huggingface_hub/hf_api.py
  src/huggingface_hub/utils/__init__.py
  src/huggingface_hub/utils/_xet.py
Due: none

Add and run task params generation script
  Makefile
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  src/huggingface_hub/inference/_generated/types/__init__.py
  src/huggingface_hub/inference/_generated/types/image_to_text.py
  src/huggingface_hub/inference/_generated/types/text_classification.py
  tests/test_inference_async_client.py
  utils/generate_task_parameters.py
Due: check-contrib-list, generate-async-inference-client

idefics example
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

Support VLM in chat completion (+some specs updates) (#2556)
  docs/source/en/package_reference/inference_types.md
  docs/source/ko/package_reference/inference_types.md
  src/huggingface_hub/__init__.py
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  src/huggingface_hub/inference/_generated/types/__init__.py
  src/huggingface_hub/inference/_generated/types/audio_classification.py
  src/huggingface_hub/inference/_generated/types/chat_completion.py
  src/huggingface_hub/inference/_generated/types/image_classification.py
  src/huggingface_hub/inference/_generated/types/image_segmentation.py
  src/huggingface_hub/inference/_generated/types/image_to_image.py
  src/huggingface_hub/inference/_generated/types/object_detection.py
  src/huggingface_hub/inference/_generated/types/summarization.py
  src/huggingface_hub/inference/_generated/types/text_generation.py
  src/huggingface_hub/inference/_generated/types/text_to_image.py
  src/huggingface_hub/inference/_generated/types/text_to_speech.py
  src/huggingface_hub/inference/_generated/types/translation.py
Due: generate-async-inference-client

Add back missing test
  tests/test_inference_client.py
Due: none

Add 500 error to retry list
  src/huggingface_hub/hf_file_system.py
Due: none

docs: move translations to i18n
  README.md
  i18n/README_cn.md
  i18n/README_de.md
  i18n/README_hi.md
  i18n/README_ko.md
Due: none

post-review fixes
  docs/source/en/_redirects.yml
  docs/source/en/package_reference/authentication.md
  src/huggingface_hub/_login.py
  src/huggingface_hub/commands/_cli_utils.py
  src/huggingface_hub/commands/delete_cache.py
  src/huggingface_hub/commands/user.py
  src/huggingface_hub/utils/_auth.py
  tests/test_auth.py
  tests/testing_constants.py
Due: none

Fix table of contents
  docs/source/en/_toctree.yml
Due: none

Document vision chat completion with Llama 3.2 11B V
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

Document vision chat completion with Llama 3.2 11B V (#2569)
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

Add comments to parameters generation script
  utils/generate_task_parameters.py
Due: none

Enhance `update_repo_settings` to manage repo visibility
  src/huggingface_hub/hf_api.py
  tests/test_hf_api.py
Due: none

Apply suggestions from code review
  docs/source/en/guides/repository.md
Due: none

docs: fix relative links in translated READMEs
  i18n/README_cn.md
  i18n/README_de.md
  i18n/README_hi.md
  i18n/README_ko.md
Due: none

docs: move translations to `i18n` (#2566)
  README.md
  i18n/README_cn.md
  i18n/README_de.md
  i18n/README_hi.md
  i18n/README_ko.md
Due: none

Feature: switch visibility with update_repo_settings #2537 (#2541)
  docs/source/en/guides/repository.md
  src/huggingface_hub/hf_api.py
  tests/test_file_download.py
  tests/test_hf_api.py
  tests/test_snapshot_download.py
Due: none

Add missing documentation
  src/huggingface_hub/hf_api.py
  src/huggingface_hub/repocard_data.py
Due: none

Add missing documentation (#2572)
  src/huggingface_hub/hf_api.py
  src/huggingface_hub/repocard_data.py
Due: none

Add 500 HTTP Error to retry list (#2567)
  src/huggingface_hub/hf_file_system.py
Due: none

Enhance login error handling
  src/huggingface_hub/hf_api.py
Due: none

Fix shared classes imports + text-to-speech task
  docs/source/en/package_reference/inference_types.md
  docs/source/ko/package_reference/inference_types.md
  src/huggingface_hub/__init__.py
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  src/huggingface_hub/inference/_generated/types/__init__.py
  src/huggingface_hub/inference/_generated/types/audio_classification.py
  src/huggingface_hub/inference/_generated/types/automatic_speech_recognition.py
  src/huggingface_hub/inference/_generated/types/image_classification.py
  src/huggingface_hub/inference/_generated/types/image_to_text.py
  src/huggingface_hub/inference/_generated/types/text_classification.py
  src/huggingface_hub/inference/_generated/types/text_to_audio.py
  src/huggingface_hub/inference/_generated/types/text_to_speech.py
  src/huggingface_hub/inference/_generated/types/video_classification.py
  utils/generate_inference_types.py
  utils/generate_task_parameters.py
Due: generate-async-inference-client

Satisfy end-of-file-fixer hook
  utils/helpers.py
Due: none
