Repository huggingface/huggingface_hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-contrib-list, generate-async-inference-client

check-contrib-list:
  name: check-contrib-list
  entry: python utils/check_contrib_list.py --update
  language: system
  pass_filenames: false

generate-async-inference-client:
  name: generate-async-inference-client
  entry: python utils/generate_async_inference_client.py --update
  language: system
  pass_filenames: false

remove comment
  src/huggingface_hub/_large_upload.py
Due: none

comments
  src/huggingface_hub/_large_upload.py
Due: none

move determine_task to its own method
  src/huggingface_hub/_large_upload.py
Due: none

rename to upload_large_folder
  docs/source/en/guides/upload.md
  src/huggingface_hub/__init__.py
  src/huggingface_hub/_upload_large_folder.py
  src/huggingface_hub/commands/huggingface_cli.py
  src/huggingface_hub/commands/upload_large_folder.py
  src/huggingface_hub/hf_api.py
  tests/test_hf_api.py
Due: none

fix md
  docs/source/en/guides/upload.md
Due: none

update
  src/huggingface_hub/_upload_large_folder.py
  src/huggingface_hub/commands/upload_large_folder.py
Due: none

dont wait on exit
  src/huggingface_hub/_upload_large_folder.py
Due: none

Do not raise if branch exists and no write permission (#2426)
  src/huggingface_hub/hf_api.py
Due: none

fix expand in CI
  tests/test_hf_api.py
Due: none

fix repo-files CLI example
  docs/source/en/guides/cli.md
  src/huggingface_hub/commands/repo_files.py
Due: none

fix repo-files CLI example (#2428)
  docs/source/en/guides/cli.md
  src/huggingface_hub/commands/repo_files.py
Due: none

Do not raise if chmod fails
  src/huggingface_hub/file_download.py
Due: none

just to test
  src/huggingface_hub/file_download.py
Due: none

Document the difference between model and base_url
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

test
  src/huggingface_hub/file_download.py
Due: none

fix .huggingface to .cache/huggingface in doc
  docs/source/en/guides/cli.md
  docs/source/en/guides/download.md
Due: none

comments
  src/huggingface_hub/file_download.py
Due: none

Do not raise if chmod fails (#2429)
  src/huggingface_hub/file_download.py
Due: none

fix .huggingface to .cache/huggingface in doc (#2432)
  docs/source/en/guides/cli.md
  docs/source/en/guides/download.md
Due: none

Release: v0.24.4
  src/huggingface_hub/__init__.py
Due: none

Fix shutil move
  src/huggingface_hub/file_download.py
Due: none

Fix shutil move (#2433)
  src/huggingface_hub/file_download.py
Due: none

Release: v0.24.5
  src/huggingface_hub/__init__.py
Due: none

Fix typo in docs
  docs/source/en/guides/upload.md
Due: none

Introduce 429 retry mechanism on adapter
  src/huggingface_hub/utils/_http.py
  tests/test_utils_http.py
Due: none

Correct "login" to "log in" when used as verb
  README.md
  contrib/conftest.py
  docs/source/en/guides/cli.md
  docs/source/en/guides/hf_file_system.md
  docs/source/ko/guides/cli.md
  src/huggingface_hub/_login.py
Due: check-contrib-list

Correct "login" to "log in" when used as verb (#2434)
  README.md
  contrib/conftest.py
  docs/source/en/guides/cli.md
  docs/source/en/guides/hf_file_system.md
  docs/source/ko/guides/cli.md
  src/huggingface_hub/_login.py
Due: check-contrib-list

handle trust_env and set trust_env parameter in aiohttp client for Async and request client for Sync
  src/huggingface_hub/inference/_client.py
Due: generate-async-inference-client

handle trust_env and set trust_env parameter in aiohttp client for Async and request client for Sync
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

Update src/huggingface_hub/inference/_generated/_async_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

handle trust_env and set trust_env parameter in aiohttp client for Async and request client for Sync
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

set trust_env in aiohttp at True
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

expose scan_cache table generation to python
  src/huggingface_hub/commands/scan_cache.py
Due: none

fix indentation
  src/huggingface_hub/commands/scan_cache.py
Due: none

Typo for plural
  docs/source/en/guides/search.md
Due: none

Typo for plural (#2439)
  docs/source/en/guides/search.md
Due: none

fix typo in file download warning message about symlinks
  src/huggingface_hub/file_download.py
Due: none

Path conditions:
  check-contrib-list: any of: Makefile|.github/workflows/contrib-tests.yml|contrib
  generate-async-inference-client: any of: src/huggingface_hub/inference/
