Repository huggingface/huggingface_hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-contrib-list, generate-async-inference-client

check-contrib-list:
  name: check-contrib-list
  entry: python utils/check_contrib_list.py --update
  language: system
  pass_filenames: false

generate-async-inference-client:
  name: generate-async-inference-client
  entry: python utils/generate_async_inference_client.py --update
  language: system
  pass_filenames: false

Warn about upload_large_folder if really large folder
  src/huggingface_hub/hf_api.py
Due: none

Warn about upload_large_folder if really large folder (#2656)
  src/huggingface_hub/hf_api.py
Due: none

fix typos
  src/huggingface_hub/serialization/_torch.py
Due: none

[Serialization] Add `is_main_process` argument to `save_torch_state_dict()` (#2648)
  src/huggingface_hub/serialization/_torch.py
  tests/test_serialization.py
Due: none

Don't write the ref file unless necessary
  src/huggingface_hub/_snapshot_download.py
Due: none

Add exception handling when dealing with ref file
  src/huggingface_hub/_snapshot_download.py
Due: none

update attribute used in delete_collection_item docstring
  src/huggingface_hub/hf_api.py
Due: none

[🐛](src/huggingface_hub/utils/_cache_manager.py): Fix bug by ignoring specific files in cache manager
  src/huggingface_hub/utils/_cache_manager.py
Due: none

Bug in model_card_consistency_reminder.yml
  .github/workflows/model_card_consistency_reminder.yml
Due: none

update attribute used in delete_collection_item docstring (#2659)
  src/huggingface_hub/hf_api.py
Due: none

Bug in model_card_consistency_reminder.yml (#2661)
  .github/workflows/model_card_consistency_reminder.yml
Due: none

[🐛](src/huggingface_hub/utils/_cache_manager.py): Fix bug by ignoring specific files in cache manager (#2660)
  src/huggingface_hub/utils/_cache_manager.py
Due: none

Update src/huggingface_hub/_snapshot_download.py
  src/huggingface_hub/_snapshot_download.py
Due: none

Don't write the ref file unless necessary (#2657)
  src/huggingface_hub/_snapshot_download.py
Due: none

tasks-gen
  .github/workflows/update-inference-types.yaml
Due: none

not too tasks-gen
  .github/workflows/update-inference-types.yaml
Due: none

add perms
  .github/workflows/update-inference-types.yaml
Due: none

Update inference types (automated commit)
  src/huggingface_hub/inference/_generated/types/audio_classification.py
  src/huggingface_hub/inference/_generated/types/automatic_speech_recognition.py
  src/huggingface_hub/inference/_generated/types/image_classification.py
  src/huggingface_hub/inference/_generated/types/image_to_text.py
  src/huggingface_hub/inference/_generated/types/text_classification.py
  src/huggingface_hub/inference/_generated/types/text_to_audio.py
  src/huggingface_hub/inference/_generated/types/text_to_speech.py
  src/huggingface_hub/inference/_generated/types/token_classification.py
  src/huggingface_hub/inference/_generated/types/visual_question_answering.py
Due: generate-async-inference-client

fix ?
  .github/workflows/update-inference-types.yaml
Due: none

cleaning
  .github/workflows/update-inference-types.yaml
Due: none

add cron job
  .github/workflows/update-inference-types.yaml
Due: none

fix zero shot image classification
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

send image as binary
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

[Inference Client] fix `zero_shot_image_classification`'s parameters (#2665)
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

Add CI to auto-generate inference types (#2600)
  .github/workflows/update-inference-types.yaml
Due: none

[InferenceClient] Automatically handle outdated task parameters (#2633)
  .github/workflows/python-quality.yml
  Makefile
  src/huggingface_hub/__init__.py
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  src/huggingface_hub/inference/_generated/types/__init__.py
  utils/check_task_parameters.py
  utils/generate_inference_types.py
  utils/generate_task_parameters.py
Due: check-contrib-list, generate-async-inference-client

Update inference types (automated commit)
  docs/source/en/package_reference/inference_types.md
  docs/source/ko/package_reference/inference_types.md
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  src/huggingface_hub/inference/_generated/types/__init__.py
  src/huggingface_hub/inference/_generated/types/audio_classification.py
  src/huggingface_hub/inference/_generated/types/automatic_speech_recognition.py
  src/huggingface_hub/inference/_generated/types/document_question_answering.py
  src/huggingface_hub/inference/_generated/types/image_classification.py
  src/huggingface_hub/inference/_generated/types/image_to_text.py
  src/huggingface_hub/inference/_generated/types/text_classification.py
  src/huggingface_hub/inference/_generated/types/text_to_audio.py
  src/huggingface_hub/inference/_generated/types/text_to_speech.py
  src/huggingface_hub/inference/_generated/types/token_classification.py
  src/huggingface_hub/inference/_generated/types/visual_question_answering.py
  src/huggingface_hub/inference/_generated/types/zero_shot_classification.py
  src/huggingface_hub/inference/_generated/types/zero_shot_image_classification.py
  src/huggingface_hub/inference/_generated/types/zero_shot_object_detection.py
Due: generate-async-inference-client

fix param docstring and deprecate labels param in zero-shot tasks
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  tests/test_inference_client.py
  utils/check_task_parameters.py
Due: generate-async-inference-client

improve deprecation
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

quality
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

[Inference Client] fix param docstring and deprecate `labels` param in zero-shot classification tasks (#2668)
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  tests/test_inference_client.py
  utils/check_task_parameters.py
Due: generate-async-inference-client

fix quality after merging main
  src/huggingface_hub/__init__.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

another fix
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

fix tests
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  tests/test_inference_client.py
Due: generate-async-inference-client

Update inference types (automated commit)
  docs/source/en/package_reference/inference_types.md
  docs/source/ko/package_reference/inference_types.md
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  src/huggingface_hub/inference/_generated/types/__init__.py
  src/huggingface_hub/inference/_generated/types/audio_classification.py
  src/huggingface_hub/inference/_generated/types/automatic_speech_recognition.py
  src/huggingface_hub/inference/_generated/types/document_question_answering.py
  src/huggingface_hub/inference/_generated/types/image_classification.py
  src/huggingface_hub/inference/_generated/types/image_to_text.py
  src/huggingface_hub/inference/_generated/types/text_classification.py
  src/huggingface_hub/inference/_generated/types/text_to_audio.py
  src/huggingface_hub/inference/_generated/types/text_to_speech.py
  src/huggingface_hub/inference/_generated/types/token_classification.py
  src/huggingface_hub/inference/_generated/types/video_classification.py
  src/huggingface_hub/inference/_generated/types/visual_question_answering.py
  src/huggingface_hub/inference/_generated/types/zero_shot_classification.py
  src/huggingface_hub/inference/_generated/types/zero_shot_image_classification.py
  src/huggingface_hub/inference/_generated/types/zero_shot_object_detection.py
Due: generate-async-inference-client

fix logo in README
  README.md
Due: none

update translated READMEs
  i18n/README_cn.md
  i18n/README_de.md
  i18n/README_hi.md
  i18n/README_ko.md
Due: none

Fix logo in README when dark mode is on (#2669)
  README.md
  i18n/README_cn.md
  i18n/README_de.md
  i18n/README_hi.md
  i18n/README_ko.md
Due: none

Support context mananger in commit scheduler
  src/huggingface_hub/_commit_scheduler.py
  tests/test_commit_scheduler.py
Due: none

Path conditions:
  check-contrib-list: any of: Makefile|.github/workflows/contrib-tests.yml|contrib
  generate-async-inference-client: any of: src/huggingface_hub/inference/
