Repository huggingface/huggingface_hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-contrib-list, generate-async-inference-client

check-contrib-list:
  name: check-contrib-list
  entry: python utils/check_contrib_list.py --update
  language: system
  pass_filenames: false

generate-async-inference-client:
  name: generate-async-inference-client
  entry: python utils/generate_async_inference_client.py --update
  language: system
  pass_filenames: false

Fix PermissionError while creating '.no_exist/' directory in cache
  src/huggingface_hub/file_download.py
Due: none

Skip flaky Repository test
  tests/test_repository.py
Due: none

Fix PermissionError while creating '.no_exist/' directory in cache (#2594)
  src/huggingface_hub/file_download.py
Due: none

Fix tests
  src/huggingface_hub/hf_api.py
  tests/test_hf_api.py
Due: none

Apply suggestions from code review
  src/huggingface_hub/hf_api.py
  tests/test_hf_api.py
Due: none

Apply suggestions from code review
  src/huggingface_hub/hf_api.py
Due: none

Daily Papers API
  src/huggingface_hub/hf_api.py
  tests/test_hf_api.py
Due: none

Run papers API tests independently
  tests/test_hf_api.py
Due: none

Remove date
  src/huggingface_hub/__init__.py
  src/huggingface_hub/hf_api.py
Due: none

Skip flaky Repository test (#2595)
  tests/test_repository.py
Due: none

Remove aliases from reference package
  docs/source/en/package_reference/inference_types.md
  docs/source/ko/package_reference/inference_types.md
  utils/generate_inference_types.py
Due: none

Fix small bug and regenerate task parameters
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  src/huggingface_hub/inference/_generated/types/audio_classification.py
  utils/generate_task_parameters.py
Due: generate-async-inference-client

additional test and update docstring
  src/huggingface_hub/hf_api.py
  tests/test_hf_api.py
Due: none

[Inference Client] Add task parameters and a maintenance script of these parameters (#2561)
  .github/workflows/python-quality.yml
  Makefile
  docs/source/en/package_reference/inference_types.md
  docs/source/ko/package_reference/inference_types.md
  setup.py
  src/huggingface_hub/__init__.py
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  src/huggingface_hub/inference/_generated/types/__init__.py
  src/huggingface_hub/inference/_generated/types/audio_classification.py
  src/huggingface_hub/inference/_generated/types/automatic_speech_recognition.py
  src/huggingface_hub/inference/_generated/types/image_classification.py
  src/huggingface_hub/inference/_generated/types/image_to_text.py
  src/huggingface_hub/inference/_generated/types/text_classification.py
  src/huggingface_hub/inference/_generated/types/text_to_audio.py
  src/huggingface_hub/inference/_generated/types/text_to_speech.py
  src/huggingface_hub/inference/_generated/types/video_classification.py
  tests/test_inference_async_client.py
  tests/test_inference_client.py
  utils/generate_async_inference_client.py
  utils/generate_inference_types.py
  utils/generate_task_parameters.py
  utils/helpers.py
Due: check-contrib-list, generate-async-inference-client

Daily Papers API (#2554)
  src/huggingface_hub/__init__.py
  src/huggingface_hub/hf_api.py
  tests/test_hf_api.py
Due: none

fix TEI endpoints
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

update doc
  src/huggingface_hub/serialization/_torch.py
Due: none

Update src/huggingface_hub/serialization/_torch.py
  src/huggingface_hub/serialization/_torch.py
Due: none

oups
  src/huggingface_hub/serialization/_torch.py
Due: none

Adding token refresh logic (#4)
  src/huggingface_hub/_commit_api.py
  src/huggingface_hub/constants.py
  src/huggingface_hub/file_download.py
  src/huggingface_hub/utils/__init__.py
  src/huggingface_hub/utils/_xet.py
Due: none

Serialization: take into account meta tensor when splitting the `state_dict` (#2591)
  src/huggingface_hub/serialization/_torch.py
Due: none

Rename to XetMetadata
  src/huggingface_hub/file_download.py
  src/huggingface_hub/utils/__init__.py
  src/huggingface_hub/utils/_xet.py
Due: none

rename xet_token to xet_metadata + forbid positional args
  src/huggingface_hub/_commit_api.py
  src/huggingface_hub/utils/__init__.py
  src/huggingface_hub/utils/_xet.py
Due: none

consistent name xet_metadata
  src/huggingface_hub/_commit_api.py
  src/huggingface_hub/utils/_xet.py
Due: none

forbid positional arg
  src/huggingface_hub/utils/_xet.py
Due: none

xet => xet_metadata
  src/huggingface_hub/file_download.py
  src/huggingface_hub/utils/_xet.py
Due: none

Update modelcard_template.md
  src/huggingface_hub/templates/modelcard_template.md
Due: none

Factorize inference payload build and add test
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  tests/test_inference_client.py
Due: generate-async-inference-client

Add CI to auto-generate inference types (draft)
  .github/workflows/update-inference-types.yaml
Due: none

Add comments
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

classic yaml
  .github/workflows/update-inference-types.yaml
Due: none

Add method description
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

with pakcage json
  .github/workflows/update-inference-types.yaml
Due: none

fix style
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

fix style again
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
Due: generate-async-inference-client

modified translation based on the comments
  .github/workflows/build_documentation.yaml
  .github/workflows/build_pr_documentation.yaml
  docs/source/tm/index.md
  docs/source/tm/installation.md
Due: none

#sudo su README.md
  #sudo su README.md
Due: none

fix prepare payload helper
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_common.py
  src/huggingface_hub/inference/_generated/_async_client.py
  tests/test_inference_client.py
Due: generate-async-inference-client

experiment: try old version of workflow
  .github/workflows/build_pr_documentation.yaml
Due: none

Path conditions:
  check-contrib-list: any of: Makefile|.github/workflows/contrib-tests.yml|contrib
  generate-async-inference-client: any of: src/huggingface_hub/inference/
