Repository huggingface/huggingface_hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-contrib-list, generate-async-inference-client

.pre-commit-config.yaml:

---
default_language_version:
    python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        exclude: .github/conda/meta.yaml|tests/cassettes/
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-case-conflict
      - id: check-merge-conflict
  - repo: https://github.com/charliermarsh/ruff-pre-commit # https://github.com/charliermarsh/ruff#usage
    rev: v0.1.13
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: check-contrib-list
        name: check-contrib-list
        entry: python utils/check_contrib_list.py --update
        language: system
        files: Makefile|.github/workflows/contrib-tests.yml|contrib
        pass_filenames: false
      - id: check-static-imports
        name: check-static-imports
        entry: python utils/check_static_imports.py --update
        language: system
        pass_filenames: false
        always_run: true
      - id: generate-async-inference-client
        name: generate-async-inference-client
        entry: python utils/generate_async_inference_client.py --update
        language: system
        files: src/huggingface_hub/inference/
        pass_filenames: false

Update docs/source/fr/_toctree.yml
  docs/source/fr/_toctree.yml
Due: none

[i18n-FR] Translated files in french and reviewed them (#2024)
  .github/workflows/build_documentation.yaml
  .github/workflows/build_pr_documentation.yaml
  docs/source/fr/_toctree.yml
  docs/source/fr/concepts/git_vs_http.md
  docs/source/fr/index.md
  docs/source/fr/installation.md
  docs/source/fr/quick-start.md
Due: none

start using generated types
  .github/workflows/python-quality.yml
  Makefile
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  src/huggingface_hub/inference/_generated/types/__init__.py
  src/huggingface_hub/inference/_generated/types/audio_classification.py
  src/huggingface_hub/inference/_generated/types/automatic_speech_recognition.py
  src/huggingface_hub/inference/_generated/types/base.py
  src/huggingface_hub/inference/_generated/types/depth_estimation.py
  src/huggingface_hub/inference/_generated/types/document_question_answering.py
  src/huggingface_hub/inference/_generated/types/feature_extraction.py
  src/huggingface_hub/inference/_generated/types/fill_mask.py
  src/huggingface_hub/inference/_generated/types/image_classification.py
  src/huggingface_hub/inference/_generated/types/image_segmentation.py
  src/huggingface_hub/inference/_generated/types/image_to_image.py
  src/huggingface_hub/inference/_generated/types/image_to_text.py
  src/huggingface_hub/inference/_generated/types/object_detection.py
  src/huggingface_hub/inference/_generated/types/question_answering.py
  src/huggingface_hub/inference/_generated/types/sentence_similarity.py
  src/huggingface_hub/inference/_generated/types/summarization.py
  src/huggingface_hub/inference/_generated/types/table_question_answering.py
  src/huggingface_hub/inference/_generated/types/text2text_generation.py
  src/huggingface_hub/inference/_generated/types/text_classification.py
  src/huggingface_hub/inference/_generated/types/text_generation.py
  src/huggingface_hub/inference/_generated/types/text_to_audio.py
  src/huggingface_hub/inference/_generated/types/text_to_image.py
  src/huggingface_hub/inference/_generated/types/text_to_speech.py
  src/huggingface_hub/inference/_generated/types/token_classification.py
  src/huggingface_hub/inference/_generated/types/translation.py
  src/huggingface_hub/inference/_generated/types/video_classification.py
  src/huggingface_hub/inference/_generated/types/visual_question_answering.py
  src/huggingface_hub/inference/_generated/types/zero_shot_classification.py
  src/huggingface_hub/inference/_generated/types/zero_shot_image_classification.py
  src/huggingface_hub/inference/_generated/types/zero_shot_object_detection.py
  utils/generate_inference_types.py
Due: check-contrib-list, generate-async-inference-client

fix some typing + bug
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  src/huggingface_hub/inference/_generated/types/base.py
Due: generate-async-inference-client

style
  src/huggingface_hub/inference/_generated/types/object_detection.py
Due: generate-async-inference-client

make optional fields optional by default
  src/huggingface_hub/inference/_generated/types/audio_classification.py
  src/huggingface_hub/inference/_generated/types/automatic_speech_recognition.py
  src/huggingface_hub/inference/_generated/types/base.py
  src/huggingface_hub/inference/_generated/types/depth_estimation.py
  src/huggingface_hub/inference/_generated/types/document_question_answering.py
  src/huggingface_hub/inference/_generated/types/feature_extraction.py
  src/huggingface_hub/inference/_generated/types/fill_mask.py
  src/huggingface_hub/inference/_generated/types/image_classification.py
  src/huggingface_hub/inference/_generated/types/image_segmentation.py
  src/huggingface_hub/inference/_generated/types/image_to_image.py
  src/huggingface_hub/inference/_generated/types/image_to_text.py
  src/huggingface_hub/inference/_generated/types/object_detection.py
  src/huggingface_hub/inference/_generated/types/question_answering.py
  src/huggingface_hub/inference/_generated/types/sentence_similarity.py
  src/huggingface_hub/inference/_generated/types/summarization.py
  src/huggingface_hub/inference/_generated/types/table_question_answering.py
  src/huggingface_hub/inference/_generated/types/text2text_generation.py
  src/huggingface_hub/inference/_generated/types/text_classification.py
  src/huggingface_hub/inference/_generated/types/text_generation.py
  src/huggingface_hub/inference/_generated/types/text_to_audio.py
  src/huggingface_hub/inference/_generated/types/text_to_image.py
  src/huggingface_hub/inference/_generated/types/text_to_speech.py
  src/huggingface_hub/inference/_generated/types/token_classification.py
  src/huggingface_hub/inference/_generated/types/translation.py
  src/huggingface_hub/inference/_generated/types/video_classification.py
  src/huggingface_hub/inference/_generated/types/visual_question_answering.py
  src/huggingface_hub/inference/_generated/types/zero_shot_classification.py
  src/huggingface_hub/inference/_generated/types/zero_shot_image_classification.py
  src/huggingface_hub/inference/_generated/types/zero_shot_object_detection.py
  utils/generate_inference_types.py
Due: generate-async-inference-client

docstring
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  src/huggingface_hub/inference/_generated/types/base.py
Due: generate-async-inference-client

import dataclasses as first-class citizen
  src/huggingface_hub/__init__.py
  tests/test_inference_client.py
  utils/generate_inference_types.py
Due: none

Added new fils to push to the doc, I have already checked them
  docs/source/fr/guides/cli.md
  docs/source/fr/guides/collections.md
  docs/source/fr/guides/community.md
Due: none

fixing some tests
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  src/huggingface_hub/inference/_generated/types/base.py
  tests/test_inference_client.py
Due: generate-async-inference-client

Updated the toctree to display the link towards new files
  docs/source/fr/_toctree.yml
Due: none

fix ambiguous ClassificationOutput type
  docs/source/en/package_reference/inference_client.md
  src/huggingface_hub/__init__.py
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  src/huggingface_hub/inference/_generated/types/__init__.py
  src/huggingface_hub/inference/_generated/types/audio_classification.py
  src/huggingface_hub/inference/_generated/types/image_classification.py
  src/huggingface_hub/inference/_generated/types/text_classification.py
  src/huggingface_hub/inference/_generated/types/video_classification.py
  src/huggingface_hub/inference/_generated/types/zero_shot_classification.py
  src/huggingface_hub/inference/_generated/types/zero_shot_image_classification.py
  src/huggingface_hub/inference/_types.py
  tests/test_inference_client.py
  utils/generate_inference_types.py
Due: generate-async-inference-client

more fixes
  docs/source/en/package_reference/inference_client.md
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  src/huggingface_hub/inference/_generated/types/base.py
  src/huggingface_hub/inference/_types.py
  tests/test_inference_client.py
Due: generate-async-inference-client

Use safetensors constant
  src/huggingface_hub/constants.py
  src/huggingface_hub/hub_mixin.py
  tests/test_hubmixin.py
Due: none

Fix default download location and add test
  src/huggingface_hub/hub_mixin.py
  tests/test_hubmixin.py
Due: none

Fix canonical dataset create_branch with exist_ok=True
  src/huggingface_hub/hf_api.py
Due: none

Fix getting widget_data from model_info
  src/huggingface_hub/hf_api.py
  tests/test_hf_api.py
Due: none

Fix getting widget_data from model_info (#2041)
  src/huggingface_hub/hf_api.py
  tests/test_hf_api.py
Due: none

fix setattr + first tests
  src/huggingface_hub/inference/_generated/types/base.py
  tests/test_inference_types.py
Due: generate-async-inference-client

Update docs/source/en/guides/integrations.md
  docs/source/en/guides/integrations.md
Due: none

5GB shards
  src/huggingface_hub/serialization/_base.py
Due: none

import torch
  src/huggingface_hub/serialization/_torch.py
Due: none

rename to split_state_dict_into_shards_factory
  tests/test_serialization.py
Due: none

fix
  src/huggingface_hub/__init__.py
  src/huggingface_hub/serialization/__init__.py
  src/huggingface_hub/serialization/_base.py
  src/huggingface_hub/serialization/_numpy.py
  src/huggingface_hub/serialization/_tensorflow.py
  src/huggingface_hub/serialization/_torch.py
Due: none

docs/source/en/package_reference/serialization.md
  docs/source/en/_toctree.yml
Due: none

with docs
  docs/source/en/package_reference/serialization.md
Due: none

Better config support in ModelHubMixin (#2001)
  .github/workflows/python-tests.yml
  docs/source/en/guides/integrations.md
  src/huggingface_hub/hub_mixin.py
  tests/test_hub_mixin.py
  tests/test_hub_mixin_pytorch.py
  tests/test_keras_integration.py
Due: none

Framework-agnostic `split_state_dict_into_shards` helper (#1938)
  .github/workflows/python-tests.yml
  docs/source/en/_toctree.yml
  docs/source/en/package_reference/serialization.md
  src/huggingface_hub/__init__.py
  src/huggingface_hub/serialization/__init__.py
  src/huggingface_hub/serialization/_base.py
  src/huggingface_hub/serialization/_numpy.py
  src/huggingface_hub/serialization/_tensorflow.py
  src/huggingface_hub/serialization/_torch.py
  src/huggingface_hub/utils/__init__.py
  src/huggingface_hub/utils/_runtime.py
  tests/test_hub_mixin_pytorch.py
  tests/test_serialization.py
  tests/test_webhooks_server.py
  tests/testing_utils.py
Due: none

Add revision_exists helper
  src/huggingface_hub/hf_api.py
  tests/test_hf_api.py
Due: none

add to main
  src/huggingface_hub/__init__.py
Due: none

Add `revision_exists` helper (#2042)
  src/huggingface_hub/__init__.py
  src/huggingface_hub/hf_api.py
  tests/test_hf_api.py
Due: none

Fallback to pickle model
  src/huggingface_hub/hub_mixin.py
  tests/test_hubmixin.py
Due: none

make style
  setup.py
  src/huggingface_hub/hub_mixin.py
  tests/test_hubmixin.py
Due: none

Load safetensors dynamically
  src/huggingface_hub/hub_mixin.py
  src/huggingface_hub/utils/__init__.py
  src/huggingface_hub/utils/_runtime.py
Due: none

Migrate to new API
  src/huggingface_hub/utils/_runtime.py
Due: none

new tests
  src/huggingface_hub/inference/_generated/types/base.py
  tests/test_inference_types.py
Due: generate-async-inference-client

more tests
  src/huggingface_hub/inference/_generated/types/base.py
  tests/test_inference_types.py
Due: generate-async-inference-client

audio to audio
  docs/source/en/package_reference/inference_client.md
  src/huggingface_hub/__init__.py
  src/huggingface_hub/inference/_client.py
  src/huggingface_hub/inference/_generated/_async_client.py
  src/huggingface_hub/inference/_generated/types/__init__.py
  src/huggingface_hub/inference/_generated/types/audio_to_audio.py
  src/huggingface_hub/inference/_types.py
Due: generate-async-inference-client

normalize keys + fix tests
  src/huggingface_hub/inference/_generated/types/base.py
  src/huggingface_hub/inference/_types.py
  tests/test_inference_client.py
  tests/test_inference_types.py
Due: generate-async-inference-client
